/* General Reset */
* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
header {
  text-align: left;
  margin-bottom: 2em;
}

.Name {
  font-family: "Rubik Mono One", monospace;
  font-size: 9em;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.1em;
}

h2, h3 {
  font-size: 2em;
  color: rgb(0, 0, 0);
}

/* Link styles */
a:link {
  color: rgb(4, 106, 76);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(226, 132, 58);
  text-decoration: underline;
}

/* Navigation styling */
nav {
  background-color: rgb(240, 240, 240);
  text-align: center;
  padding: 1em 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 1em;
}

nav a {
  color: rgb(4, 106, 76);
  font-size: 1.5em;
  text-transform: uppercase;
}

/* Content styling */
.content {
  display: flex;
  justify-content: space-between;
  margin: 2em 5%;
}

.profile-image {
  width: 40%;
}

.profile-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.text-content {
  width: 55%;
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: justify;
}

/* Footer styling */
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 2em 0;
  text-align: center;
  background-image: url('Phrogz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

footer .contact p {
  font-size: 1.2em;
}

footer .contact a {
  color: rgb(0, 0, 0);
}

footer .contact a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

footer hr {
  margin: 1em 0;
  border: 1px solid rgb(0, 0, 0);
}

footer .copyright {
  font-size: 1em;
  color: rgb(0, 0, 0);
}